<% provide(:title, @user.username) %>

<div class="user-profile">
  <div class="user-username">
    <%= @user.username %>
  </div>
  <div>_ karma</div>
  <div><%= pluralize(@user.posts.count, "post") %></div>
  <div><%= pluralize(@user.comments.count, "comments") %></div>
</div>