/* Healthy News */

$base-color: #A60303;
$background-color: #730202;
$light-color: #F2E3D0;
$dark-color: #0D0D0D;
$secondary-color: #D9CEAD;
$visited-link-color: #fd9a9a;
$light-text-color: #aaa;

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "franklin-gothic-urw", sans-serif;
}

a {
  color: $base-color;
  text-decoration: none;
}

/* NAVIGATION */
.main-header {
  background-color: $base-color;
  height: 60px;

  .navbar {
    width: 80%;
    max-width: 980px;
    margin: 0 auto;

    .logo {
      font-size: 24px;
      color: #fff;
      font-weight: 500;
      margin-top: 15px;
      display: inline-block;
    }
    .main-nav {
      display: inline-block;
      width: 80%;
      margin-left: 10px;

      ul {
        list-style-type: none;


        li {
          display: inline-block;
          margin: 0 10px;
          font-size: 16px;
          color: $light-color;

          a {
            color: $light-color;
            &:hover {
              color: #fff;
            }
          }
        }
      }

      .nav-left {
        float: left;
      }

      .nav-right {
        float: right;
        li {

        }
      }
    }
  }
}

/* CONTENT */

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 63em;
  *zoom: 1;
}

.post {
  list-style: none;
}

.post-container {
  margin-bottom: 0.8em;

  &:first-child {
    margin-top: 1em;
  }

  .post-title {
    font-size: 20px;
    font-weight: 500;
    padding-left: 2em;

    a {
      color: $base-color;

      &:visited {
        color: $visited-link-color;
      }
    }
  }

  .post-metadata {
    font-size: 14px;
    color: $light-text-color;
    padding-left: 3em;
    a {
      color: $dark-color;
    }
  }
}

/* FORMS */

input {
  height: auto;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

/* VOTING */
.vote-buttons {
  .upvote {

  }
  .downvote {

  }
}

div.voters {
  float: left;
  width: 40px;
  clear: both;
  padding-left: 7px;
}

div.voters a.upvoter,
div.voters a.downvoter {
  border-color: transparent transparent #bbb transparent;
  border-style: solid;
  border-width: 6px;
  text-decoration: none;
  width: 0px;
  margin-bottom: 0px;
  margin-left: 14px;
  padding: 0;
  display: block;
}

div.voters a.upvoter:hover,
li.upvoted div.voters a.upvoter {
  border-bottom-color: #ac130d;
}

div.voters a.upvoter {
  border-bottom-width: 11px;
}

div.voters a.downvoter {
  border-color: #bbb transparent transparent transparent;
  border-width: 5px;
  margin-top: 4px;
  margin-left: 15px;
  margin-bottom: -5px;
  border-top-width: 9px;
}
div.voters a.downvoter:hover,
li.downvoted div.voters a.downvoter {
  border-top-color: gray;
}


/* DEBUGGING */
.debug_dump {
  color: red;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


ul.comments {
  padding: 0;
  list-style: none;
  margin: 0;
}

ul.comments {
  margin-left: 20px;
  margin-bottom: 0em;
  padding-left: 6px;
  line-height: 1.35em;
}
ul.comments1 {
  margin-left: 0;
}
ul.comments.comments1 {
  border-left-color: transparent;
}

li.comment {
  margin-bottom: 1em;
}